/.idea
/res
/screenshots
/addons/findAll
/addons/boxdestroyer
/addons/distance
/addons/lastsynth
/addons/libs
/addons/shortcuts
/addons/pointwatch
/addons/sparks
/addons/VisibleFavor
/addons/TParty
/addons/Silence
/addons/VisibleFavor
/scripts
/updates
/videos